.github/workflows/n8n/auto_order_agent_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nimport json\nimport re\n\nquantities = []\nitems = []\nids = []\nfor item in _input.all():\n  quantities.append(item.json.quantity)\n  items.append(item.json.item_list)\n  ids.append(item.json.id)\n\nfor item in _input.all():\n  matches = re.findall(r'Buy (\\w+) (Successfully|Fail):? ?(.*)', item.json.output)\n  item_code = \", \".join([match[0] for match in matches])\n  status = \", \".join([\"Success\" if match[1] == \"Successfully\" else \"Fail\" for match in matches])\n  purchase_statements = []\n  for i, match in enumerate(matches):\n    _item_code, _status, error_message = match\n    quantity = quantities[i]\n    _item = items[i]\n    if _status.lower() == \"successfully\":\n      purchase_statements.append(f\"Successfully purchased {quantity} units of {_item}(item code : {_item_code})\")\n    else:\n      purchase_statements.append(f\"Failed to purchase {quantity} units of {_item}(error : {error_message.strip()})\")\n  chat_input = \", \".join(purchase_statements)\n  \n  item.json.item_code = item_code\n  item.json.item_status = status\n  item.json.chatInput = chat_input\n  del item.json.status\n  del item.json.message\nid = \", \".join(ids)\nitem.json.id = id\nreturn item"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        120
      ],
      "id": "c844e64c-e52c-4800-9882-2a1938282ed6",
      "name": "Code"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        60
      ],
      "id": "3b0f0d84-cc39-4372-b6b0-d343e49c8ba5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        420,
        120
      ],
      "id": "bda77a13-0108-44f9-9b84-c10d9942c591",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8888/purchase",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "item_list",
              "value": "={{ $json.item_list }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "id": "b747dfd5-e667-4f38-ad37-b108541eef76",
      "name": "Auto-Order-Agent"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "=solar-pro",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "당신은 주어진 문장을 확인하고 이를 보고서 형태로 변환하는 비서입니다. 주어진 Item_code와 Successfully인지 Fail인지 확인하여 사용자에게 해당 물품을 정상적으로 구매했는지를 보고서 형식으로 한글로 작성하십시오.\n\n예시 형식은 아래와 같습니다:\n주간 물품 구매 결과 보고서\n\nItem: Potato Chips\nItem_code: B07Z4G8253\nQuantity: 100\nStatus: Success\n\nItem: Shampoo\nItem_code: B07FLKB8CV\nQuantity: 30\nStatus: Fail(error: Attempt count exceeded)\n\n총 2개의 물품 주문을 시도하였으며 그 중 1개가 주문 시도 횟수 초과로 인해 실패하였습니다. 자세한 사항은 log파일을 확인해주시거나 메일을 통해 연락해주십시오.",
              "role": "system"
            },
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        840,
        20
      ],
      "id": "08dffe31-9649-4ddb-95e4-3f014b564b5d",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zZBQ8zL5qIAwKIVy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jangjang0022@gmail.com",
        "subject": "주간 물품 구매 결과 보고서",
        "emailType": "text",
        "message": "={{ $json.message.content }}",
        "options": {
          "senderName": "GORANI"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1040,
        20
      ],
      "id": "917d903d-d9b7-4bcc-bf11-823f08669e22",
      "name": "Gmail",
      "webhookId": "7de19796-0312-439b-8b6f-2c5bb2c385ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "VQpeCvDhHsEsftS5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cab773d2-04d6-4870-8874-100f0ea1fb3c",
              "name": "item_list",
              "value": "={{ $json.sub3 }}",
              "type": "string"
            },
            {
              "id": "187f4db0-9e41-48dc-b7dc-fbeb4c9c425a",
              "name": "quantity",
              "value": "={{ $json.quantity }}",
              "type": "string"
            },
            {
              "id": "15365237-7ee9-47ef-a4ba-84d8679d13c1",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        140
      ],
      "id": "7f941315-985a-4d63-b23a-ed28f86b965a",
      "name": "order_list"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "order_product",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -440,
        60
      ],
      "id": "a23b1922-a4c1-4cc1-abff-c9ed0bd8f5b5",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "gl4REHd2T6kxumS7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "item_lists = []\n# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item_lists.append(item.json.item_list)\nitem.json.item_list = \",\".join(item_lists)\ndel(item.json.quantity)\nreturn item"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "af294f3a-8556-4715-b5c7-c13413fbda28",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "order_product",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        460
      ],
      "id": "c785d90f-530f-4f18-98d5-adcf997ffaf2",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "gl4REHd2T6kxumS7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0ac10f9-34ce-408e-a7eb-05548b87f937",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        220
      ],
      "id": "ed41ebf0-3fad-4320-9288-3f39caa1e544",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "product_inventory",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        460
      ],
      "id": "25a1d46a-da9f-414f-8c38-3f0f569ae5b2",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "gl4REHd2T6kxumS7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "\n# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  id_str = item.json.id\n  item_status_str = item.json.item_status\n  ids = id_str.split(', ')\n  item_status = item_status_str.split(', ')\n  \noutput = []\nfor i in range(len(ids)):\n  output.append({\n    \"id\": ids[i],\n    \"status\": item_status[i]\n  })\nreturn output"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        200
      ],
      "id": "9f7abe02-0fea-4b02-b305-74fe92f1a809",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "product_inventory",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -200,
        580
      ],
      "id": "9d3a83fb-7855-46c1-aded-beeadeb51ef8",
      "name": "Supabase3",
      "credentials": {
        "supabaseApi": {
          "id": "gl4REHd2T6kxumS7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.value = item.json.quantity\n  del item.json.main\n  del item.json.sub1\n  del item.json.sub2\n  del item.json.sub3\n  del item.json.quantity\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        460
      ],
      "id": "0a06f03a-8619-4af7-b9f9-4bc48480ef2f",
      "name": "Code3"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "=id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -40,
        440
      ],
      "id": "12249c9c-264c-4375-98c4-f033b188a3d0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/auto_orders",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"items\": [\n    {\n      \"id\": {{ $json.id }},\n      \"value\": {{ $json.value }},\n      \"is_orderable\": {{ $json.is_orderable }}\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        460
      ],
      "id": "9fc1be20-1e2c-410e-b3d1-f0d69383096d",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Order-Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "order_list": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "order_list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Auto-Order-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Supabase3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7c23d2e0-e9f4-4dc8-aa03-6aa864bf5414",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ffc0dae1a216a08b6c96e063cc922b10ce0f1571a3cf1ec1540f1d8196c89e73"
  },
  "id": "6DJ8Y6XDGn3wifyB",
  "tags": []
}