.github/workflows/n8n/recall_agent.json
{
  "name": "recall_agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a24a8bc4-805e-4d3e-9960-ad20699bd5b8",
      "typeVersion": 1.1,
      "name": "Workflow Input Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://r.jina.ai/https://www.safetykorea.kr/recall/recallBoard",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "6b0dc21a-570c-422d-9ccd-48a51d6afa92",
      "name": "[Jina AI] HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "id": "300c6235-df87-45a3-8f04-4b97b81ccbb1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "def process_and_parse_recall_data(item):\n   \"\"\"리콜 데이터를 추출하고 파싱합니다.\"\"\"\n   try:\n       data = item.get(\"data\", \"\")\n       start_marker = \"번호\t사진\t제품명\t모델명\t사업자명\t리콜종류\t바코드번호\t공표일\"\n       end_marker = \"<< < 1 2 3 4 5 6 7 8 9 10 > >>\"\n       \n       start_idx = data.find(start_marker) + len(start_marker)\n       end_idx = data.find(end_marker)\n       \n       if start_idx == -1 or end_idx == -1:\n           return []\n           \n       table_data = data[start_idx:end_idx].strip()\n       result = []\n       \n       for line in table_data.split('\\n'):\n           if not line.strip():\n               continue\n               \n           fields = line.split('\\t')\n           if len(fields) < 8:\n               continue\n               \n           parsed_item = {\n               \"ID\": fields[0],\n               \"Product\": fields[2],\n               \"Model\": fields[3],\n               \"Name of company\": fields[4],\n               \"Recall type\": fields[5],\n               \"barcode\": fields[6] if fields[6] != '-' else \"\",\n               \"Announcement date\": fields[7]\n           }\n           result.append(parsed_item)\n           \n       return result\n       \n   except Exception as e:\n       return []\n\n# n8n용 메인 함수\nresult = []\nfor item in _input.all():\n   parsed_items = process_and_parse_recall_data(item.json)\n   result.extend(parsed_items)\nreturn result"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "f602516b-400e-4d7f-9435-080a40244a6d",
      "name": "Extracter & Parser"
    },
    {
      "parameters": {
        "sendTo": "yynk2012@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {
          "senderName": "GORANI"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        820,
        0
      ],
      "id": "1883b9d7-9ce8-43a5-baf0-bb07a19a5688",
      "name": "Gmail",
      "webhookId": "7c4f758c-d2b5-4a71-84d3-9536cd3baca5",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "ged36ZWz56iSUfsj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "def combine_recalls():\n   body = \"안녕하세요,\\n\\n오늘의 리콜 정보를 알려드립니다.\\n\\n\"\n   all_recalls = []\n   latest_date = \"\"\n   \n   # 모든 입력 아이템을 처리\n   for item in _input.all():\n       if hasattr(item.json, 'keys'):  # 단일 딕셔너리인 경우\n           all_recalls.append(item.json)\n       else:  # 리스트인 경우\n           all_recalls.extend(item.json)\n\n   # 리콜 정보 결합\n   for recall in all_recalls:\n       body += f\"\"\"[리콜 제품 정보]\n- 제품명: {recall['Product']}\n- 모델명: {recall['Model']}\n- 제조/수입업체: {recall['Name of company']}\n- 리콜구분: {recall['Recall type']}\n- 공표일자: {recall['Announcement date']}\\n\\n\"\"\"\n       \n       if recall['Announcement date'] > latest_date:\n           latest_date = recall['Announcement date']\n\n   body += \"\\n자세한 내용은 제품안전정보센터(https://www.safetykorea.kr/)를 참고해 주세요.\"\n\n   return [{\n       \"subject\": f\"제품 리콜 정보 알림 ({latest_date} 기준)\",\n       \"body\": body\n   }]\n\nreturn combine_recalls()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        0
      ],
      "id": "71a5fc7d-34b1-40b6-b6d2-1f36f4dbc4bf",
      "name": "Formatter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e133452-b033-4565-95e1-20d558773a0e",
              "leftValue": "={{ $json.barcode }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        620,
        220
      ],
      "id": "cce47ccc-cd3d-4399-9a3c-fc1d8394a56c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "product_info",
        "filters": {
          "conditions": [
            {
              "keyName": "barcode",
              "condition": "eq",
              "keyValue": "={{ $json.barcode }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        820,
        200
      ],
      "id": "48a9ed56-9ade-40cd-8281-cf77a2b4d1da",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "Pt6nV2B9ZR7Nq7KD",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "product_inventory",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "is_orderable",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1060,
        200
      ],
      "id": "1b35a9cc-f6bc-41bb-905f-b2b6d93a30a9",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "Pt6nV2B9ZR7Nq7KD",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "[Jina AI] HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Jina AI] HTTP Request": {
      "main": [
        [
          {
            "node": "Extracter & Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "[Jina AI] HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extracter & Parser": {
      "main": [
        [
          {
            "node": "Formatter",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatter": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "557dbaad-99f0-4b49-930f-10bab29daaa2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "89ddddfba8d870bb904e2070b342d6e3bd595dc49e89131cde59469edd32e972"
  },
  "id": "Y51rVOPATKAhdyhD",
  "tags": []
}